 .App { 
  font-family: "Pacifico", cursive;
  text-align: center;  
  background-image: url("./input/Red-sunrise.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h2{
color: black;
}
.inputdiv {
  font-family: "Pacifico", cursive;
  background-color: rgb(255, 178, 12)
}
.mini{
  background-color: rgb(255, 160, 12);
  padding: 10px; border-radius: 20px;
  margin: 30px 10px;
}
.mini h1{
font-size: 45px;
}
 .WeatherDetails{
   display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  background-color: aquamarine;
  margin:20px;
  border-radius: 20px;
 }
 .Weather{
  background-color: white; 
  
  padding: 4%; border-radius: 20px;
 }
 .Temparature{
  background-color: white;  
  padding: 40px; border-radius: 20px;
 }

 .WindNPressure{
   background-color: white; 
  padding: 40px; border-radius: 20px;
 }
 .Aqi{
   background-color: white;  
  padding: 40px; border-radius: 20px;
 }
.footer{
  height:40px;
  background-color: azure;
  
}

 